@model FORO_C.Models.Entrada
@inject UserManager<Usuario> userManager

@{
    ViewData["Title"] = @Model.Titulo;
    int userIdActual = Int32.Parse(userManager.GetUserId(User));
}

<h1>@Model.Titulo</h1>

<div>
    @if (Model.MiembroId == userIdActual)
    {
        <h5>Miembros para habilitar</h5>
        <table>
            <tbody>
                <tr>
                    <td>
                        @foreach (MiembrosEntradas miembroEntrada in Model.MiembrosHabilitados)
                        {
                            if (!miembroEntrada.Habilitado)
                            {
                                <p>@miembroEntrada.Miembro.Email</p> <a asp-controller="Entradas" asp-action="HabilitarUsuario" asp-route-EntradaId="@miembroEntrada.EntradaId" asp-route-MiembroId="@miembroEntrada.MiembroId">Habilitar</a>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <h4>Categoria: @Model.Categoria.Nombre</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    Creador: @Html.DisplayFor(modelItem => Model.Miembro.Email)
                </td>
            </tr>
        </tbody>
    </table>
    @if (User.IsInRole("UsuarioStandard"))
    {
        <div>
            <a class="btn btn-1" asp-controller="Preguntas" asp-action="Create" asp-route-EntradaId="@Model.Id">Hacer una pregunta</a>
        </div>
    }

<table class="table">
    <thead>
        <tr>
            <th>
                Preguntas
            </th>
            <td>
                Cant. Respuestas
            </td>
        </tr>
    </thead>
    <tbody>

        @if (Model.Preguntas != null)
        {
            @foreach (var pregunta in Model.Preguntas)
            {
                <tr>
                    <td>
                        <a asp-controller="Preguntas" asp-action="Details" asp-route-id="@pregunta.Id">@Html.DisplayFor(modelItem => pregunta.Descripcion)</a>
                    </td>
                    <td>
                        @pregunta.CantidadDeRespuestas
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
</div>

<div>
    <a asp-controller="Categorias" asp-action="Ver" asp-route-id="@Model.CategoriaId">Volver</a>
</div>
@if (userIdActual == Model.MiembroId)
{
    <div>
        <a asp-controller="Entradas" asp-action="edit" asp-route-id="@Model.Id">Editar Entrada</a>
    </div>
}
